# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
report.json
/test-results
/playwright-report
/blob-report
test_error.txt
test_output.txt
report*.json
playwright*.txt
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
remote_schema.sql
conflicts.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
